%nav
  = link_to 'Dashboard', admin_dashboard_path, class: current_or_link("dashboard")
  = link_to 'Universities', admin_universities_path, class: current_or_link("universities")
  = link_to 'Faculties', admin_faculties_path, class: current_or_link("faculties")
  = link_to 'Chairs', admin_chairs_path, class: current_or_link("chairs")
  = link_to 'Groups', admin_groups_path, class: current_or_link("groups")
  = link_to 'Types of Users', admin_user_types_path, class: current_or_link("user_types")
  = link_to 'Users', admin_users_path, class: current_or_link("users")
  = link_to 'Microposts', admin_microposts_path, class: current_or_link("microposts")
  = link_to 'Ratings', admin_ratings_path, class: current_or_link("ratings")
  = link_to 'Comments', admin_comments_path, class: current_or_link("comments")